.navbar{
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbarHeading{
    font-size: 3rem;
}
.myFavourites button{
    width: 10rem;
    height: 3rem;
    padding: 0.5rem 0;
    border-radius: 1rem;
    font-size: 1.1rem;
}
.myFavourites button:hover{
    cursor: pointer;
    background: darkred;
    color: white;
}