.reciepeCard{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 29rem;
    margin: 1rem;
    background: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}
.strMeal{
    font-size: 1.4rem;
    padding-top: 1rem;
}
.strMealThumb{
    width: 20rem;
    height: 20rem;
    border-top-left-radius : 1rem;
    border-top-right-radius : 1rem;
}
.strCategory{
    position: relative;
    top: -80px;
    left: 200px;
    margin-right: 1rem;
    background: rebeccapurple;
    color: white;
    max-width: 6rem;
    padding: 0.5rem;
    border-radius: 1rem;
}
.infoButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin: 1rem 0;
}
.seeTheFullRecipe{
    width: 45%;
    padding: 1rem;
    border: none;
    background: grey;
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}
.isNotAfavourite{
    width: 45%;
    height: 3rem;
    padding: 0.5rem;
    background: goldenrod;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.isAfavourite{
    width: 45%;
    height: 3rem;
    padding: 1rem;
    background: red;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.topInfosReciepe{
    height: 4rem;
}

/* .reciepeCard:hover{
    background: powderblue;
    transform: scale(1.05);
    cursor: pointer;
} */
.infoButtons button:hover{
    cursor: pointer;
}

.seeTheFullRecipe a{
    text-decoration: none;
    color: white;
}